<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webtoon Genre Updater</title>
</head>
<body>
    {% for genre in genres %}
        <form action="/update_genre" method="post">
            <input type="hidden" name="webtoon_id" value="{{ webtoon_id }}">
            <input type="hidden" name="genre" value="{{ genre }}">
            <button type="submit">{{ genre }}</button>
        </form>
    {% endfor %}
</body>
</html>
